@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Books.Data.Product


<div class="products">
	<h3>@Model.Name</h3>
	<ul>
			<li>
				<div class="product">
			<div class="info">
				<span class="holder">
					<img src="~/Assets/css/images/@Model.ImageURL" width="246px" height="293px" />
					<span class="author">by @Model.Author</span>
					<span class="description">@Model.Description</span>
				</span>
			</div>
			<div class="buy-btn">
				BUY NOW
				<span class="price">
					<span class="low">$</span>@Model.Price<span class="high">00</span>
				</span>
			</div>
		</div>
			</li>


	</ul>
	<!-- End Products -->
</div>

<div class="cl">&nbsp;</div>
<!-- Best-sellers -->
<div id="best-sellers">
	<h3>Best Sellers</h3>
	<ul>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best01.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>35<span class="high">00</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best02.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>45<span class="high">00</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best03.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>15<span class="high">00</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best04.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>27<span class="high">99</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best01.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>35<span class="high">00</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best02.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>45<span class="high">00</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best03.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>15<span class="high">00</span></span>
				</a>
			</div>
		</li>
		<li>
			<div class="product">
				<a href="#">
					<img src="~/Assets/css/images/image-best04.jpg" alt="" />
					<span class="book-name">Book Name </span>
					<span class="author">by John Smith</span>
					<span class="price"><span class="low">$</span>27<span class="high">99</span></span>
				</a>
			</div>
		</li>
	</ul>
</div>
<!-- End Best-sellers -->








